:root {
  --c--black: #000000;
  --c-dblue: #14213D;
  --c-lblue: #566a9c;
  --c-yellow: #FCA311;
  --c-red: #d62828;
  --c-red2: #ec4c4c;
  --c-lgrey: #E5E5E5;
  --c-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/*TO DO:
Smoosh Logo
Write About Me
Fix Responsiveness, set flex and add media-queries
Add credits to images
Write ReadMe
Add Alt Tags
*/

/*Flexbox Container*/
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--c-dblue);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .5px;
  line-height: 1.6em;
  margin: 0 16.5%;
}

/*Hides H1 text from page while still including it for accessibility*/
h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px,1px,1px,1px);
}

img {
  border: .5px solid var(--c-white);
  border-radius: 2px;
}

/*Flexbox Container1 Inside of Body*/
.header {
  color: var(--c-red);
  display: inline-block;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  border-bottom: solid var(--c-lblue) .15px;
  width: 100%;
  padding: 0 0% 0% 0%;
}

.header img {
  border: none;
}

/*Item inside Header Inside Body
Replaced with Logo
h1 {
  font-size: x-large;
  color: var(--c-yellow);
  letter-spacing: .08em;
  padding: 1em 0 1em 0;
  font-family: 'Cinzel', serif;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  min-width: 33%;
}*/

h2 {
  font-size: 1.5em;
  color: var(--c-yellow);
}

.h2 {
  display: flex;
  margin: 0 0 .3em .15em;
  min-width: 16.5%;
}

/*Item inside Header Inside Body*/
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 33%;
}

nav a {
  color: var(--c-red);
  text-decoration: none;
  text-align: center;
  padding: 0 7px;
  border-radius: 5px;
}

nav a:hover {
  background-color: var(--c-red2);
  color: var(--c-white);
  border: solid .25px var(--c-yellow);
  filter: drop-shadow(3px 3px 10px var(--c-yellow));
  text-transform: uppercase;
}

/*Flexbox Container2 Inside of Body*/
.about {
  display: flex;
  flex-direction: row;
  /*margin: 0 5%;*/
  padding: 2% 5% 2% 5%;
  width: 100%;
}

.about p {
  flex-basis: auto;
  line-height: 25px;
  margin-bottom: 1em ;
  color: var(--c-white);
  max-width: 780px;
  min-width: 780px;
}

.about img {
  flex-basis: auto;
  float: right;
  margin: 7px 0 5px 5px;
  overflow: hidden;
  white-space: nowrap;
  object-fit: contain;
  max-width: 200px;
  border-radius: 2px;
}

/*Flexbox Container3 Inside of Body*/
.projects {
  display: flex;
  justify-content: space-between;
  color: var(--c-dblue);
  text-align: left;
  align-items: left;
  padding: 2% 5% 2% 5%;
  width: 100%;
}

.project-container a {
  overflow: hidden;
  white-space: nowrap;
  object-fit: scale-down;
  opacity: 0.8;
  margin: 5px;
}

.project-container a:hover {
  filter: drop-shadow(5px 3px 10px var(--c-red2));
  opacity: 1;
}

/*QUESTION: Should I be using background images instead of creating a project container, populating it with tiles (that each have an anchor tag) and adding p to each to overlay the text?*/
.tile {
  /*border: solid 5px orange;*/
  position: relative;
  object-fit: contain;
  flex: 0 1 auto;
}

.tile p {
  position: absolute;
  bottom: 20px;
  left: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--c-yellow);
  color: var(--c-dblue);
  padding: .5em 1em;
  border-radius: 0 5px 5px 0;
  white-space: nowrap;
  overflow: hidden;
}

.tile p span {
  font-size: 70%;
}

.tile .preview-lg {
  flex: 1 1 780px; /*Work with this*/
  height: 350px;
  width: 780px;
}

.tile .preview-sm {
  height: 250px;
  width: 250px;
  margin-top: 5px;
}

/*Flexbox Container4 Inside of Body*/
.footer {
  display: inline-block;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  color: var(--c-white);
  padding: 2% 0 2% 0;
  width: 100%;
}

.contact-container {
  border-top: solid var(--c-lblue) .15px;
  border-bottom: solid var(--c-lblue) .15px;
  padding: 2% 0 2% 0;
  width: 100%;
}

/* Font awesome icons */
.fa {
  text-align: center;
  text-decoration: none;
  font-size: 16em;
  margin: 2%;
  width: 4%;
}

.fa:hover {
  color: var(--c-yellow);
}

/* LinkedIn */
.fa-linkedin {
  position: relative;
  color: var(--c-white);
}

/* GitHub */
.fa-github {
  position: relative;
  color: var(--c-white);
}

/* Email */
.fa-envelope {
  position: relative;
  color: var(--c-white);
}

.footer p {
  margin-top: 10px;
  color: var(--c-red2);
  line-height: 20px;
}

/*Works*/
@media screen and (max-width: 1446px) {
  body {
    margin: 0 8%;
  }
}
/*Works*/
@media screen and (max-width: 1173px) {
  body {
    margin: 0 2%;
  }
}
/*Works*/
@media screen and (max-width: 1022px) {
  body {
    margin: 0 0%;
  }
}
/*Working...how to rearrange*/
@media screen and (max-width: 1012px) {
  body {
    margin: 0 2%;
  }

  .about,
  .projects {
    flex-direction: column;
    padding: 2% 2% 2% 2%;
  }

  .h2, {
    display: inline-block;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    padding: 2% 0 2% 0;
    width: 100%;
  }
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict

320px — 480px: Mobile devices

481px — 768px: iPads, Tablets

769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV*/